Repository SAP/machine-learning-lab, pull requests merged in 2021-04, with the labels that each got.

#18 Add LAB_SSL_ROOT configuration variable
  backend/lab-service/src/main/java/org/mltooling/lab/LabConfig.java
  backend/lab-service/src/main/java/org/mltooling/lab/services/AbstractServiceManager.java
  backend/lab-service/src/main/java/org/mltooling/lab/services/managers/DockerServiceManager.java
  docs/docs/installation/install-lab.md
Labels: documentation, enhancement

#22 TEST-PR : Github Actions
  .github/workflows/check-commit-messages.yml
  webapp/build.py
Labels: maintenance

#25 [feature] Add option for external oidc authentication
  backend/environment-lib/src/main/java/org/mltooling/core/lab/LabAuthApi.java
  backend/environment-lib/src/main/java/org/mltooling/core/lab/LabAuthApiClient.java
  backend/lab-service/docker-res/nginx.conf
  backend/lab-service/src/main/java/org/mltooling/lab/LabConfig.java
  backend/lab-service/src/main/java/org/mltooling/lab/api/LabAuthApiHandler.java
  backend/lab-service/src/main/java/org/mltooling/lab/authorization/AuthorizationManager.java
  backend/lab-service/src/main/java/org/mltooling/lab/endpoints/LabAuthEndpoint.java
  docs/docs/administration/external-oidc-authentication.md
  docs/docs/administration/images/ml-lab-authentication-flow.png
  docs/docs/installation/install-lab.md
  docs/mkdocs.yml
  webapp/src/scenes/Login.js
  webapp/src/services/client/api/AuthorizationApi.js
  webapp/src/services/client/lab-api.js
  webapp/src/services/client/model/BooleanResponse.js
Labels: documentation

#26 Feature/custom workspace backend
  backend/environment-lib/src/main/java/org/mltooling/core/lab/LabAdminApi.java
  backend/environment-lib/src/main/java/org/mltooling/core/lab/LabAdminApiClient.java
  backend/lab-service/docker-res/nginx.conf
  backend/lab-service/src/main/java/org/mltooling/lab/api/LabAdminApiHandler.java
  backend/lab-service/src/main/java/org/mltooling/lab/endpoints/LabAdminEndpoint.java
  backend/lab-service/src/main/java/org/mltooling/lab/services/AbstractServiceManager.java
  backend/lab-service/src/main/java/org/mltooling/lab/services/managers/DockerServiceManager.java
  backend/lab-service/src/main/java/org/mltooling/lab/services/managers/KubernetesServiceManager.java
  backend/lab-service/src/test/java/org/mltooling/lab/LabAdminApiTest.java
  backend/service-lib/src/main/java/org/mltooling/core/service/tests/LocalDockerLauncher.java
Labels: enhancement
